---
import Dashboard4 from "@/components/Dashboard4";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard – Pemilik Software</title>
  </head>
  <body>
    <Dashboard4 client:load />
  </body>
</html>
