---
import "../styles/global.css";
import Dashboard5 from "@/components/developer/Dashboard5";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard Developer</title>
  </head>
  <body>
    <Dashboard5 client:load />
  </body>
</html>
