---
import "../styles/global.css";
import Dashboard3 from "@/components/Dashboard3";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kapokja Dashboard</title>
  </head>
  <body>
    <Dashboard3 client:load />
  </body>
</html>
